<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Portal de la Facultad de Ciencias - UCV</title>

    <style th:utext="${external_css}"></style>  <!-- Inline CSS dynamically injected -->
</head>

<body>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title" th:text="${title}">Default Title</h3>
    </div>

    <div class="panel-body">
        <p th:if="${target}" th:text="${target}">Default User</p>
        <br th:if="${target}"/>

        <!-- Primary Message -->
        <p th:if="${primary_body}" th:utext="${primary_body}">Default message here.</p>

        <!-- Optional Second Message -->
        <p th:if="${secondary_body}" th:text="${secondary_body}"></p>
        <br th:if="${secondary_body}"/>

        <!-- Dynamic Link -->
        <a th:if="${url != null and url_label != null}" th:href="${url}" th:text="${url_label}">Default Link</a>
        <br><br>

        <!-- Ending Note -->
        <p th:if="${closing_message}" th:text="${closing_message}">Default closing message.</p>
    </div>

    <div class="panel-footer text-center">
        <p>Universidad Central de Venezuela</p>
        <p>Facultad de Ciencias</p>
        <p>Paseo Los Ilustres Urb. Valle Abajo. Código Postal 1040. Caracas-Venezuela</p>
    </div>
</div>
</body>
</html>
